* {
    text-align: center;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.sizeCity {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn {
    position: relative;
    top: 200;
}

.lampPosition {
    position: relative;
    top: 200;
}